In [4]:
list = [1,2,3,4,5]

In [1]:
id(list) #id = 주소값을 알려준다.

140704019712752

In [5]:
#리스트에 값 추가
list.append(6)

In [14]:
id(list) #리스트에 값을 추가해도 주소값은 안바뀐다.

1972470144064

In [17]:
#리스트에 새로운 값 할당
list = [1,2,3,4,5,6,7]

In [18]:
id(list) # 새로운 값을 할당해야지 주소값이 바뀐다.

1972470249856

In [21]:
list1= list
id(list1)

1972470249856

In [28]:
#다른 주소로 값만 가져오기
#.copy() : 값만 가져오는 기능
list2 = list1.copy()

In [29]:
id(list2)

1972470547968

In [25]:
num = 1
type(num)

int

In [26]:
num = "dd"
type(num)

str

# 리스트
- remove, insert, pop, append, coutn, len, reverse, sort, index, 인덱싱, 슬라이싱....
- 라이브러리에서 주로 사용하는 함수
- 1순위 - 인덱싱, 슬라이싱
- 2순위 - append, remove

In [45]:
# 1~ 50까지가 담긴 리스트 생성하기
list1 = []
for i in range(1,51) :
    list1.append(i)

In [46]:
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [55]:
#인덱싱, 슬라이싱
#대괄호를 사용한다.
#10출력하기
print(list1[9])
#15~25출력하기
print(list1[14: 25])

10
[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [ ]:
#print : 원하는 위치에서 출력 가능 ->> 실행
#변수명으로 출력 : 마지막 위치에서만 출력 가능 ->> 출력

In [62]:
# \n : 개행
str1 = "asdf\nasdf" 
str1 #출력
# print(str1) #실행(실행이기 때문에 개행이 실행된다.)

asdf
asdf

# 딕셔너리
- key, value로 이루어져 있다.
- 엑셀데이터로도 사용이 가능하다.

In [75]:
#dic_team 변수명을 사용해서 딕셔너리 만들기.
#이름, 나이 key값 사용
#팀원들의 정보 value 넣기.
dic_team = {"name" : ["국인","동윤","승호","건하","승훈"], "age" : [29,29,27,26,25]}
print(dic_team)

{'name': ['국인', '동윤', '승호', '건하', '승훈'], 'age': [29, 29, 27, 26, 25]}

In [77]:
#딕셔너리 엑셀로 추출
import pandas as pd
test_pd = pd.DataFrame(dic_team)

In [79]:
test_pd.to_csv("asdf.csv",encoding = 'cp949')