# Pandas 모듈
- Series Class : 1차원(인덱스 + 값)
- DataFrame Class : 2차원(표와같은 형태)(쉽게말해 series가 모여 있는것!)

In [1]:
#판다스 불러오기!
import pandas as pd

In [3]:
#Pandas 의 Series 생성
series1 = pd.Series([1,2,3,4,5])
series1 #인덱스는 따로 지정해 주지 않으면 0부터 시작하는 정수의 값이 들어간다.

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
#인덱스 지정해서 Series 생성
series2 = pd.Series([1,2,3,4,5], index = ['일','이','삼','사','오'])
series2

일    1
이    2
삼    3
사    4
오    5
dtype: int64

In [10]:
population = pd.Series([9904312,3448737,2890451,2466052],
                       index = ['서울','부산','인천','대구'])
population

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [13]:
#Series 정보확인
#값, 인덱스, 타입 확인가능
#values, index, dtype
print(population.values) #값 확인
print(population.index) #인덱스 확인
print(population.dtype) #타입 확인

[9904312 3448737 2890451 2466052]
Index(['서울', '부산', '인천', '대구'], dtype='object')
int64

In [15]:
# Series의 컬럼 이름 지정
population.name = '인구'
population

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [16]:
#인덱스에 이름 지정해주기
population.index.name = '도시'
population

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64